.appheader_root {
  position: relative;
  margin: 48px 94px 0 94px;
  height: 59px;
}

.appheader_hr {
  position: absolute;
  bottom: 0px;
  right: -14px;
  left: -14px;
  height: 1px;
  background-color: #d8d8d8;
}

.appheader_buttons {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;

    &:hover {
      color: red;
    }
  }
}
