.user_edit_root {
  width: 910px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.user_edit_photo {
  display: inline-block;
  width: 222px;

  span {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 22px;
    margin: 5px 0;
  }
}

.user_edit_photo_border {
  width: 206px;
  height: 100%;
  border: 1px dotted black;
}

.user_edit_photo_place {
  width: 206px;
  height: 272px;
  background-color: #efefef;
  padding: 8px;
}

.user_edit_personal {
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
  padding-left: 30px;
  position: absolute;
}

.user_edit_password {
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  margin-left: 222px;
}

.user_edit_myshop {
  font-size: 26px;
  font-weight: 700;
  margin-left: 222px;
}

.user_edit_exit {
  color: white;
  background-color: #a44a4a;
  height: 53px;
  width: 218px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.user_edit_create {
  color: white;
  background-color: #a18a68;
  height: 53px;
  width: 317px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
