.detail_shop_root {
  margin: 30px 94px;

  .detail_shop_root_img {
    width: 268px;
    height: 335px;
    border-radius: 4px;
  }
}

.detail_shop_info {
  display: flex;
}

.detail_shop_write {
  color: white;
  background-color: #a18a68;
  height: 53px;
  width: 421px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}