.product_list_header {
  height: 78px;
  display: flex;
  justify-content: space-between;
}

.product_list_root {
  position: relative;
}

.product_list_title {
  height: 78px;
  font-size: 36px;
  font-weight: 700;
  height: 78px;
  line-height: 43px;
}

.product_list_viewall {
  line-height: 43px;
  text-decoration: none;
  color: #a18a68;
  font-size: 20px;
  font-weight: 400;
}

.product_list_products {
  display: flex;
  justify-content: space-between;
}
