.product_list_root {
  border: 1px solid red;
  position: relative;
  margin: 86px 80px 0 80px;
  display: flex;
  justify-content: space-between;
}

.product_list_title {
  height: 78px;
  font-size: 36px;
  font-weight: 700;
  height: 78px;
}
