.product_root {
  display: inline-block;
  img {
    border-radius: 8px;
    width: 100%;
  }
  position: relative;

  &:hover .product_hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}

.product_price {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #a18a68;
  margin-top: 10px;
}

.product_hover {
  display: none;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 82.5%;
  background-color: rgba($color: white, $alpha: 0.6);

  svg {
    fill: red;
  }
}

.product_hover_buttons {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
