.reg_buy_root {
  width: 564px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;

  h1 {
    margin: 150px auto 46px auto;
  }
}

.reg_buy_have_accaunt {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg_buy_buttons_textfield {
  margin-top: 8px !important;
}
